his_backEnd/HELP.md
his_backEnd/target/
his_backEnd/!.mvn/wrapper/maven-wrapper.jar
his_backEnd/!**/src/main/**/target/
his_backEnd/!**/src/test/**/target/

### STS ###
his_backEnd/.apt_generated
his_backEnd/.classpath
his_backEnd/.factorypath
his_backEnd/.project
his_backEnd/.settings
his_backEnd/.springBeans
his_backEnd/.sts4-cache

### IntelliJ IDEA ###
his_backEnd/.idea
his_backEnd/*.iws
his_backEnd/*.iml
his_backEnd/*.ipr

### NetBeans ###
his_backEnd//nbproject/private/
his_backEnd//nbbuild/
his_backEnd//dist/
his_backEnd//nbdist/
his_backEnd//.nb-gradle/
build/
his_backEnd/!**/src/main/**/build/
his_backEnd/!**/src/test/**/build/

### VS Code ###
his_backEnd/.vscode/



his_frontEnd/.DS_Store
his_frontEnd/node_modules/
his_frontEnd//dist/
his_frontEnd/npm-debug.log*
his_frontEnd/yarn-debug.log*
his_frontEnd/yarn-error.log*

# Editor directories and files
his_frontEnd/.idea
his_frontEnd/.vscode
his_frontEnd/*.suo
his_frontEnd/*.ntvs*
his_frontEnd/*.njsproj
his_frontEnd/*.sln